<ion-view>
    <ion-content>
        <ion-list>
            <input type="text" placeholder="Project Id" ng-model="contact.project_id" class="default_input">

            <input type="text" placeholder="Organization Id" ng-model="contact.organization_id" class="default_input">

            <input type="text" placeholder="Title" ng-model="contact.title" class="default_input">

            <input type="text" placeholder="First Name" ng-model="contact.first_name" class="default_input">

            <input type="text" placeholder="Last Name" ng-model="contact.last_name" class="default_input">

            <input type="text" placeholder="Email" ng-model="contact.email" class="default_input">

            <input type="text" placeholder="Digest" ng-model="contact.digest" class="default_input">

            <input type="text" placeholder="Office Phone" ng-model="contact.office_phone" class="default_input">

            <input type="text" placeholder="Mobile Phone" ng-model="contact.mobile_phone" class="default_input">

            <input type="text" placeholder="Fax Phone" ng-model="contact.fax_phone" class="default_input">

            <input type="text" placeholder="Home Phone" ng-model="contact.home_phone" class="default_input">

            <input type="text" placeholder="Assistant'sEmail" ng-model="contact.assistant.email" class="default_input">

            <input type="text" placeholder="Assistant'sFirst Name" ng-model="contact.assistant.first_name" class="default_input">

            <input type="text" placeholder="Assistant'sLast Name" ng-model="contact.assistant.last_name" class="default_input">

            <input type="text" placeholder="Assistant'sOffice Phone" ng-model="contact.assistant.office_phone" class="default_input">

            <input type="text" placeholder="Assistant'sMobile Phone" ng-model="contact.assistant.mobile_phone" class="default_input">


        </ion-list>

        <div class="item item-body">
            <button class="button button-full button-positive" ng-click="AddContact()">
                Add Contact
            </button>
        </div>

    </ion-content>
</ion-view>