<ion-view view-title="API">
    <ion-content>
        <div class="list card">
            <div class="item item-body">
                <button class="button button-full button-positive" ng-click="getProjects()">
                    Projects
                </button>
            </div>

        </div>
        <div class="list card">
            <div class="item item-body">
                <button class="button button-full button-positive" ng-click="getOrganizations()">
                    Organizations
                </button>
            </div>
        </div>
    </ion-content>

</ion-view>