<ion-view>
    <ion-content>
        <ion-list>
            <input type="text" placeholder="Project Id" ng-model="update_org.project_id" class="default_input">

            <input type="text" placeholder="Name" ng-model="update_org.name" class="default_input">

            <input type="text" placeholder="Division" ng-model="update_org.division" class="default_input">

            <input type="text" placeholder="Street 1" ng-model="update_org.street_1" class="default_input">

            <input type="text" placeholder="Street 2" ng-model="update_org.street_2" class="default_input">

            <input type="text" placeholder="City" ng-model="update_org.city" class="default_input">

            <input type="text" placeholder="Zip Code" ng-model="update_org.zip_code" class="default_input">

            <input type="text" placeholder="Country" ng-model="update_org.country" class="default_input">

            <input type="text" placeholder="State" ng-model="update_org.state" class="default_input">

            <input type="text" placeholder="Office Phone" ng-model="update_org.office_phone" class="default_input">
        </ion-list>
        <div class="item item-body">
            <button class="button button-full button-positive" ng-click="UpdateOrganization()">
                Update Organization
            </button>
        </div>
    </ion-content>
</ion-view>