<ion-view>
    <ion-content>
        <ion-list>
            <input type="text" placeholder="Contact Id" ng-model="contact_update.contact_id" class="default_input">

            <input type="text" placeholder="Title" ng-model="contact_update.title" class="default_input">

            <input type="text" placeholder="First Name" ng-model="contact_update.first_name" class="default_input">

            <input type="text" placeholder="Last Name" ng-model="contact_update.last_name" class="default_input">

            <input type="text" placeholder="Digest" ng-model="contact_update.digest" class="default_input">

            <input type="text" placeholder="Office Phone" ng-model="contact_update.office_phone" class="default_input">

            <input type="text" placeholder="Mobile Phone" ng-model="contact_update.mobile_phone" class="default_input">

            <input type="text" placeholder="Home Phone" ng-model="contact_update.home_phone" class="default_input">

            <input type="text" placeholder="Fax Phone" ng-model="contact_update.fax_phone" class="default_input">

            <input type="text" placeholder="Assistant'sEmail" ng-model="contact_update.assistant.email" class="default_input">

            <input type="text" placeholder="Assistant'sFirst Name" ng-model="contact_update.assistant.first_name" class="default_input">

            <input type="text" placeholder="Assistant'sLast Name" ng-model="contact_update.assistant.last_name" class="default_input">

            <input type="text" placeholder="Assistant'sOffice Phone" ng-model="contact_update.assistant.office_phone" class="default_input">

            <input type="text" placeholder="Assistant'sMobile Phone" ng-model="contact_update.assistant.mobile_phone" class="default_input">


        </ion-list>

        <div class="item item-body">
            <button class="button button-full button-positive" ng-click="UpdateContact()">
                Update Contact
            </button>
        </div>

    </ion-content>
</ion-view>